[submodule "assignments/asgn-2/rcognita"]
	path = assignments/asgn-2/rcognita
	url = https://github.com/AIDynamicAction/rcognita
[submodule "assignments/asgn-3/rcognita"]
	path = assignments/asgn-3/rcognita
	url = https://github.com/AIDynamicAction/rcognita
